@page "/Account/logout"
@inject NavigationManager navigationManager

<PageTitle>Logout</PageTitle>

<div class="row">
  <div class="col-12">
    <div class="class-body felx-columm">
      <div class="text-center m-2">
        <span class="text-danger">Nothing here bro</span>
      </div>
    </div>
  </div>
</div>