@page "/"
@page "/home"

<PageTitle>Home</PageTitle>

<MudGrid>
  <MudItem xs="12">
    <MudText Typo="Typo.h5" Class="fw-bolder">Welcome</MudText>
  </MudItem>
  <MudItem xs="12">
    <MudPaper Elevation="1">
      <div class="p-4">
        <AuthorizeView>
          <NotAuthorized>
            <MudText> You are not logged in. Please <MudLink Href="/login" Color="Color.Primary" Underline="Underline.Hover">Login here</MudLink>
            </MudText>
          </NotAuthorized>
          <Authorized>
            <MudText> You are now logged in as <b>@(context.User.Identity?.Name)</b>.</MudText>
          </Authorized>
        </AuthorizeView>
      </div>
    </MudPaper>
  </MudItem>
</MudGrid>