@page "/home"

<PageTitle>Home</PageTitle>

<div class="row">
  <div class="col-12">
    <h2 class="fw-bolder">Welcome</h2>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <AuthorizeView>
          <NotAuthorized>
            <span> You are not logged in. Please Login <a class="fw-bolder" href="/login">here</a> </span>
          </NotAuthorized>
          <Authorized>
            <span> You are now logged in as <b>@context.User.Identity.Name</b>.</span>
          </Authorized>
        </AuthorizeView>
      </div>
    </div>
  </div>
</div>