@page "/question"
@using DC.Models
@using MudBlazor
@inject AppDbContext appDbContext
@rendermode InteractiveServer



<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Questions</PageTitle>

<MudTextField @bind-Value="newQuestionText" T="string" Label="Enter new Question here" HelperText="Press Enter to insert new question" HelperTextOnFocus="true" Variant="Variant.Text" AdornmentIcon="@Icons.Material.Filled.Send" AdornmentColor="Color.Primary" OnAdornmentClick="@InsertQuestion" OnKeyDown="@OnKeyDown" />
<div>
    <MudDataGrid MultiSelection="true" Items="@questions">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="id" Width="100px" />
            <PropertyColumn Property="x => x.QuestionContext" Title="context" />
        </Columns>
    </MudDataGrid>
</div>