@page "/staff"
@using DC.Models
@using MudBlazor

@inject AppDbContext appDbContext
@inject IDialogService dialogService
@inject ISnackbar sb

@rendermode InteractiveServer

<PageTitle>Staff</PageTitle>

<p>Currently Cooking</p>